<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To general-page</button>
  </div>

  <div class="info">
    <strong>Here autor</strong>
    <small>12.05.2024</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, consequatur dolorem eaque et expedita fuga fugiat magnam maiores modi odio optio pariatur, porro rem sed similique soluta tempore. Ad consequatur eos hic ipsum minus nesciunt odit officia pariatur quibusdam sapiente, sint tempora vel vero? Eveniet facere inventore laborum temporibus vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, consequatur dolorem eaque et expedita fuga fugiat magnam maiores modi odio optio pariatur, porro rem sed similique soluta tempore. Ad consequatur eos hic ipsum minus nesciunt odit officia pariatur quibusdam sapiente, sint tempora vel vero? Eveniet facere inventore laborum temporibus vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, consequatur dolorem eaque et expedita fuga fugiat magnam maiores modi odio optio pariatur, porro rem sed similique soluta tempore. Ad consequatur eos hic ipsum minus nesciunt odit officia pariatur quibusdam sapiente, sint tempora vel vero? Eveniet facere inventore laborum temporibus vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, consequatur dolorem eaque et expedita fuga fugiat magnam maiores modi odio optio pariatur, porro rem sed similique soluta tempore. Ad consequatur eos hic ipsum minus nesciunt odit officia pariatur quibusdam sapiente, sint tempora vel vero? Eveniet facere inventore laborum temporibus vero.</p>
  </div>
</div>

